---
- name: Synchronize app
  synchronize:
    src: ./app
    dest: "{{ app.path }}"
    owner: no
    group: no
    delete: yes
    recursive: yes

- name: Copy requirements file
  copy:
    src: requirements.txt
    dest: "{{ app.path }}/requirements.txt"
    mode: 0644

- name: Install requirements
  pip:
    requirements: "{{ app.path }}/requirements.txt"

- name: Copy pi-sensors service
  template:
    src: pi-sensors.service.j2
    dest: /etc/systemd/system/pi-sensors.service
    backup: yes
    mode: 0644

- name: Restart pi-sensors service
  systemd:
    service: pi-sensors
    enabled: yes
    daemon_reload: yes
    state: restarted
