[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ansible = "==2.10"
watchgod = "==0.6"

[packages]
fastapi = "==0.63.0"
httptools = "==0.1.1"
psutil = "==5.8.0"
uvicorn = "==0.13.3"
uvloop = "==0.14.0"

[requires]
python_version = "3.8"
