---
- name: Synchronize app
  synchronize:
    src: ../app
    dest: "{{ app.path }}"
    owner: no
    group: no
    delete: yes
    recursive: yes

- name: Create local requirements file
  become: no
  local_action:
    module: shell
    cmd: pipenv lock -r > requirements.txt

- name: Copy requirements file
  copy:
    src: requirements.txt
    dest: "{{ app.path }}/requirements.txt"
    mode: 0644
  register: requirements

- name: Install requirements
  pip:
    requirements: "{{ app.path }}/requirements.txt"
  when: requirements.changed

- name: Delete local requirements file
  become: no
  local_action:
    module: file
    path: requirements.txt
    state: absent

- name: Copy pi-sensors service
  template:
    src: pi-sensors.service.j2
    dest: /etc/systemd/system/pi-sensors.service
    backup: yes
    mode: 0644

- name: Restart pi-sensors service
  systemd:
    service: pi-sensors
    enabled: yes
    daemon_reload: yes
    state: restarted

- name: Fetch Prometheus configuration
  fetch:
    src: /etc/prometheus/prometheus.yml
    dest: prometheus.yml
    flat: yes

- name: Delete local Prometheus configuration
  become: no
  local_action:
    module: file
    path: prometheus.yml
    state: absent

